.email-input {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #eee;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.2s ease;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: calc(100% - 16px);
  resize: none;
}
.email-input:hover {
  border-color: #ddd;
}
html[data-theme='dark'] .email-input {
  background-color: var(--background-color);
  color: var(--primary-text);
  border-color: #444;
}
html[data-theme='dark'] .email-input:hover {
  border-color: var(--button-color);
}
.email-list {
  border: 1px solid #ddd;
  height: 200px;
  background-color: #f0f0f0;
  overflow-y: auto;
  border-radius: 5px;
}
html[data-theme='dark'] .email-list {
  background-color: #333;
  border-color: #444;
}
.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 8px;
  border-bottom: 1px solid var(--border-color);
}
.email-list .email:last-child {
  border-bottom: none;
}
.email > span {
  flex-grow: 1;
}
.email select {
  padding: 4px 8px;
  font-size: 16px;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: unset;
}
html[data-theme='dark'] .email select {
  background-color: var(--background-color);
}
.close-btn {
  background-color: transparent;
  border-color: transparent;
  padding: 8px;
}
.close-btn:hover {
  background-color: #f9f9f9;
  border-color: #ddd;
}
.close-btn:focus,
.close-btn:focus-visible,
.close-btn:active {
  outline: none;
  border-color: var(--button-color);
  background-color: var(--hover-color);
}
.header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.header-cont h2 {
  margin: 0;
}
.cont {
  display: flex;
  gap: 8px;
  padding-top: 10px;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
label {
  font-size: 16px;
  font-weight: 500;
}
