.email-input {
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    border: 2px solid #eee;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 60%;
}
.email-input:hover{
    border-color: #ddd;
}
.close-btn{
    background-color: transparent;
    border: none;
    justify-self: right;
}
.close-btn:hover {
    color: #555;
}
.close-btn:focus,
.close-btn:focus-visible {
    outline: none;
}
.header-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont{
    padding-top: 20px;
}
