.ql-wrapper {
  height: 100%;
  overflow-y: auto;
}
.ql-container {
  font-size: unset;
  max-width: 700px;
  border-top: none !important;
  margin: 0 auto;
  position: relative;
  background-color: var(--quill-background-color);
  border-radius: 0 0 12px 12px;
  overflow: unset;
  height: fit-content;
  margin-bottom: 2em;
}
.ql-editor p,
.ql-editor.ql-blank::before {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.ql-editor img {
  border-radius: 8px;
}
