.transparentBtn {
  background-color: transparent;
  border: none;
  padding: 8px;
}
.transparentBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.toolbar {
  height: 49px;
  width: calc(100% - 16px);
  padding: 0 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--background-color);
  border-bottom: 1px solid black;
}
.toolbar button:focus-visible {
  outline: none;
}
hr {
  width: 1px;
  height: 100%;
  background-color: #aaa;
  margin: 0;
  border: none;
}
.tools-share {
  display: flex;
  gap: 5px;
}

.transparentBtn svg {
  background-color: transparent;
  color: var(--button-color); /* Ensures the icon follows theme text color */
}

.tools-text {
  flex-grow: 0;
  background-color: var(--foreground-color);
  border-radius: 20px;
  color: var(--primary-text)
}

.tools-text button {
  background-color: transparent;
  color: var(--button-color);
}

.tools-scribble {
  flex-grow: 0;
  background-color: var(--foreground-color);
  border-radius: 20px;
  color: var(--primary-text)
}

.tools-scribble button {
  background-color: transparent;
  color: var(--button-color);
}

.tools-media {
  flex-grow: 0;
  background-color: var(--foreground-color);
  border-radius: 20px;
  color: var(--primary-text)
}

.tools-media button {
  background-color: transparent;
  color: var(--button-color);
}

.tools-share {
  flex-grow: 0;
  background-color: var(--foreground-color);
  border-radius: 20px;
  color: var(--primary-text)
}

.tools-share button {
  background-color: transparent;
  color: var(--button-color);
}

