.nav {
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: space-evenly;
}

.nav-content {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin-top: 40px;
}
.nav-content h2 {
  margin: 0;
}

.card {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  /*     align-items: center; */
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  text-align: center;
}

.card.flip {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  backface-visibility: hidden;
  border-radius: 5px;
}

.card .front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  font-size: 20px;
  padding: 20px;
  position: absolute;
}

.card .back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  transform: rotateY(180deg);
  font-size: 20px;
  padding: 20px;
  backface-visibility: hidden;
  position: absolute;
}

.card.disabled {
  box-shadow: none;
  cursor: unset;
}
