
.nav {
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: space-evenly;
}

.nav-content {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin-top: 40px;
}

.card {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  /*     align-items: center; */
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card.flip {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  position: absolute;
  width: 80%;
  height: 80%;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  font-size: 20px;
  padding: 20px;
  position: absolute;
}

.card .back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  transform: rotateY(180deg);
  font-size: 20px;
  padding: 20px;
  backface-visibility: hidden;
  position: absolute;
}
